html ,
body {
  height: 100%;
}
body {
  position: relative;
  > .app {
    height: 100%;
  }
}
.basic-layout {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 50px;
  > .container {
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    padding-top: 46px;
    background-color: #F9F9F9;
  }
}
.van-form {
  .van-field__error-message {
    color: #646566;
  }
}
